.aboutView {
  font-family: 'VT323', monospace;
  color: #fff;
  display: none;
}

.portfolioView {
  display: none;
}

#card-buttons {
  font-family: 'Marmelad', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif, 'Pacifico', cursive, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#mainCard {
  background-color: #f9f9fa;
  padding-bottom: 50px;
  animation: slide-up 0.7s;
  -webkit-animation: slide-up 0.7s;
  -moz-animation: slide-up 0.7s;
}

#aboutCard {
  background-color: #000;
  padding-bottom: 50px;
  border: 5px solid #fff;
}

#portfolioCard {
  background-color: #f9f9fa;
}

.cards {
  width: 60%;
  border-radius: 10px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 10px 78px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 78px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 78px -5px rgba(0,0,0,0.75);
}

.mc-options {
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border: 3px solid #000;
  width: 80%;
  height: 100%;
  opacity: 0.7;
  font-size: 25px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.6);
}

#github, #mail, #twitter, #linkedin {
  text-decoration: none;
  color: grey;
}

.contacts {
  margin: 15px 0px;
}

#card-portfolio:hover, #card-about:hover, #card-contact:hover {
  opacity: 1;
}

.btnfadeOut {
  animation: slide-down 0.3s;
}

.socialvisible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  padding-top: 100px;
  animation: slide-up 1s;
}

.homevisible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.inactiveLink {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.homeBtn {
  background-color: #000;
  border: 2px solid black;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  -webkit-box-shadow: -1px 9px 14px -5px rgba(0,0,0,0.6);
  -moz-box-shadow: -1px 9px 14px -5px rgba(0,0,0,0.6);
  box-shadow: -1px 9px 14px -5px rgba(0,0,0,0.6);
}

.homeBtn>div{
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20%;
  height: 25px;
  width: 25px;
  transform: translate(93%, 93%);
}

.slideIn {
  animation: slide-up 1s;
}

.fadeIn {
  animation: slide-up 1s;
}

.fa-twitter {
  position:absolute;
  left:42.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.fa-github {
  position:absolute;
  left:47.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.fa-linkedin {
  position:absolute;
  left:52.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.fa-envelope {
  position:absolute;
  left:57.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

@keyframes navHidden {
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100 % {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100 % {
    opacity: 0;
  }
}

@keyframes fade-in {
    0% {
        opacity:0;
      }
    100% {
      opacity:1;
    }
}

@keyframes fade-out {
    0% {
        opacity:0.7;
      }
    100% {
      opacity:0;
    }
}
@-moz-keyframes fade-out {
    0% {
      /* transform: translate(0%,200%); */
        opacity:0.7;
    }
    100% {
      opacity:0;
    }
}
@-webkit-keyframes fade-out {
    0% {
      /* transform: translate(0%,200%); */
        opacity:0.7;
      }
    100% {
        opacity:0;
    }
}
@-ms-keyframes fade-out {
    0% {/* transform: translate(0%,200%); */
        opacity:0.7;
      }
    100% {
        opacity:0;
    }
}

@media (max-width: 992px){
  .fa-twitter {
    position:absolute;
    left:41%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-github {
    position:absolute;
    left:47%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin {
    position:absolute;
    left:53%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:59%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .cards {
    width: 70%;
  }
}

@media (max-width: 768px){
  .fa-twitter {
    position:absolute;
    left:38%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-github {
    position:absolute;
    left:46%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin {
    position:absolute;
    left:54%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:62%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .cards {
    width: 80%;
  }
}

@media (max-width: 576px){
  .socialvisible {
    margin-top: 80px;
    padding-top: 60px;
  }
  .mc-options {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width: 420px){
  .socialvisible {
    margin-top: 20px;
    padding-top: 120px;
  }
  .mc-options p {
    font-size: 13px;
  }
  .cards {
    width: 80%;
  }

  .fa-twitter {
    position:absolute;
    left:35%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-github {
    position:absolute;
    left:45%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin {
    position:absolute;
    left:55%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:65%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@media (min-width: 320px) and (max-width: 359px){
  .socialvisible {
    margin-top: 20px;
    padding-top: 120px;
  }
  .mc-options p {
    font-size: 12px;
  }
  .cards {
    width: 80%;
  }

  .fa-twitter {
    position:absolute;
    left:33%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-github {
    position:absolute;
    left:45%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin {
    position:absolute;
    left:57%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:69%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
