body {
  background-color: #fff;
  font-family: 'Quicksand', sans-serif, 'Pacifico', cursive, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#magic-line {
    position: absolute; bottom: -5px; left: 0; width: 100px; height: 5px; background: #000;
}

.navbar-nav>li>a:hover {
    background: none; color: #000;
}

.heading {
  text-align: center;
  margin-top: 50px;
  font-size: xx-large;
  margin-bottom: 20px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  -ms-transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}

.navbar {
  font-size: 30px;
}

.mobile-nav {
  display: none;
}

nav {
  margin-top: 150px;
}

footer {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

footer div {
  margin: auto;
  background-color: #F6F6F6;
}

.fa-twitter {
  position:absolute;
  left:45%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.fa-envelope {
  position:absolute;
  left:55%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.fa-linkedin-square {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
/* FINDER WINDOW */

#window{
    width: 40%;
    margin-top:40px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom:40px;
    min-width: 500px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    /*-webkit-transition:all 0.5s; */
    overflow: hidden;
}

/* TOP BAR */
#topbar{
    width: 100%;
    height: 21px;
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    text-shadow:0px 1px 0px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.5);


}
#topbar ul li {
    float: left;
    padding:0 10px;
    height: 21px;
    line-height: 24px;
}
#topbar ul li:first-child{
    font-size: 20px;
    line-height: 26px;
    margin-left: 5px;
}
#topbar ul li:nth-child(2){
    font-family: "Myriad-Semi", sans-serif;
}
#topbar ul li:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4a82ff),color-stop(0, #0052fc));
    color: #fff;
    text-shadow: none;
}
#toolbar{
    width: 100%;
    height: 25px;
    background: #f8f8f8;
    border-radius:5px 5px 0 0;

    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);

    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;

}
#toolbar .top{
    float: left;
    width: 100%;
    height: 23px;
}
#toolbar .bottom{
    float: left;
    width: 100%;
    height: 30px;
}

/*-----TRAFFIC LIGHTS-----*/
#toolbar #lights{
    float: left;
    position:relative;
    top:4px;
    left:7px;
}
.light{
    float:left;
    width:14px;
    height:14px;
    border-radius:50%;
    overflow: hidden;
}
/*#lights:hover .glyph{
    opacity: 1;
    cursor:default;

}*/


/*--RED--*/
.red{
   background: #fc605c; /* Old browsers */

}
.red:active{

    background: #fc605c; /* Old browsers */

}
.red .shine{
    position: relative;
    top: -23px;
    left: 5px;
}
.red .glow{
    position: relative;
    top: -22px;
}
.red .glyph{
    position: relative;
    top: -6px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #9b3a36;
    z-index: 50;
    opacity: 0;
}
/*--YELLOW--*/
.yellow{
    background: #fdbd41; /* Old browsers */

    margin:0px 7px;
}
.yellow:active{
    background: #fdbd41; /* Old browsers */

}
.yellow .shine{
    position: relative;
    top: -23px;
    left: 5px;
}
.yellow .glow{
    position: relative;
    top: -22px;
}


.yellow .glyph{
    position: relative;
    top: -7px;
    left: 4px;
    font-size: 24px;
    color: #854322;
    z-index: 50;
    opacity: 0;
    -webkit-transform: scaleY(1.5) scaleX(1.3);
}

/*--GREEN--*/
.green{

    background: #34c749; /* Old browsers */


}
.green:active{
  background: #34c749; /* Old browsers */


}
.green .shine{
    position: relative;
    top: -22px;
    left: 5px;
}
.green .glow{
    position: relative;
    top: -22px;
}
.green .glyph{
    position: relative;
    top: -6px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #25571d;
    z-index: 50;
    opacity: 0;
}

/* Horrible to do this for firefox */
@-moz-document url-prefix() {

  .red .glyph {
      position: relative;
      top: -4px;
  }
  .yellow .glyph {
      top: -4px;
      left: 3px;
  }

  .green .glyph{
      position: relative;
      top: -4px;
  }

}

/*-----TITLE-----*/
#title{
    float: left;
    position: relative;
    top:4px;
    width:40%;
    left: 25%;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    line-height: 14px;
}
.folder{
    float: left;
    margin-right:5px;
}
.folder .tab{
    width:4px;
    height:2px;
    background:#a4c5da;
    border:1px solid #728ea3;
    border-bottom: none;
    border-radius:2px 2px 0px 0px;
    -webkit-box-shadow:0px -1px 0px #99b5c7 inset;
    margin-left: 1px;
    z-index: 5000;
    margin-bottom: -1px;
}
.folder .body{
    width: 14px;
    height: 10px;
    border:1px solid #6e8ba1;

    background: #b8cfe0; /* Old browsers */
    background: -moz-linear-gradient(top,  #b8cfe0 0%, #86adc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8cfe0), color-stop(100%,#86adc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* IE10+ */
    background: linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* W3C */

    z-index: -50;

    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
}


#nav{
    margin: 1px 8px;
    float: left;
}
#view{
    margin: 2px 0 0 110px;
    display: inline-block;
}

.control_box{
    height:20px;
    border-radius: 3px;
    border: 1px solid #555;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #fefefe),color-stop(0, #b8b8b8));
    box-shadow:0px 1px 0px rgba(255,255,255,0.25);
}
.control_box .control{
    height:20px;
    border-right: 1px solid #2e2e2e;
    float: left;
    text-align: center;
    width: 27px;
}
.control:last-child{
    border-right: 0px solid !important;
}
.control:active{
    background: #b0afb0;
    -webkit-box-shadow:0px 0px 4px #000 inset;
}
.active{
    background: #707070 !important;
    -webkit-box-shadow:0px 3px 4px rgba(0,0,0,0.6) inset !important;
}


#body {
    font-family: Courier New, monospace;  line-height: 1em;
    font-size: 30px;
    float: left;
    width: 100%;
    min-height:130px;
    background:rgba(0, 0, 0, 0.85);
    padding:10px;
    line-height:1.5em;
}
#body p, #body span{
   color: white!important;
}

#body p::-webkit-selection  {
    background:#0b209e;
}
#body p::selection { background:#0b209e; }
#body p::-moz-selection { background:#0b209e; }

#body p {
  margin-top:5px;
  margin-bottom:5px;
  font-size:13px;
}

#content{
    float: left;
    margin-top: 1px;
}
#foot{
    height: 23px;
    width: 100%;
    float: left;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #cbcbcb),color-stop(0, #a7a7a7));
    border-top:1px solid #515151;
    border-radius:0 0 5px 5px;
}
#foot .handle{
    width: 11px;
    height: 11px;
    float: right;
    margin: 6px;
    overflow: hidden;
}
.handle .grip{
    -webkit-transform: rotate(45deg) scaley(3);
    margin: 2px 0 0 2px;
    color: #646464;
    text-shadow: 1px 1px 0 #c6c6c6;
    font-size: 14px;
}

.icon{
    width: 86px;
    height: 100px;
    margin: 20px;
    float: left;
    font-family: "Myriad Pro", sans-serif;
    text-align: center;
    font-size: 12px;
}
.icon .frame{
    width: 82px;
    height: 82px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.icon .name{
    color: #000;
    padding-top: 3px;
    border-radius:15px;
    width: 55px;
    margin: 5px 0 0 15px;
}
.icon .folder{
    margin:15px 0 0 6px;
}

@media (min-width: 400px) and (max-width: 530px){
  #window {
    min-width: 350px;
  }
  #body {
    font-size: 20px;
  }
  #title {
    font-size: 10px;
    left: 20%;
  }
  .navbar {
    font-size: 25px;
  }
  nav {
    display: none;
  }
  .mobile-nav {
    width: 75%;
    display: block;
    margin:0 auto;
    margin-top: 75px;
  }
  .mobile-nav ul {
    list-style-type: none;
    display: block;
    margin:0 auto;
  }
  .mobile-nav li {
    float: left;
    text-decoration: none;
    margin: 10px;
  }
  .mobile-nav a {
    color: #787878;
    text-decoration: none;
  }
  #underline {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 120px;
    border: 2px solid #ccc;
  }
  .fa-twitter {
    position:absolute;
    left:35%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:65%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin-square {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@media (min-width: 360px) and (max-width: 399px){
  #window {
    min-width: 300px;
  }
  #body {
    font-size: 15px;
  }
  #title {
    font-size: 10px;
    left: 20%;
  }
  .light{
      width:10px;
      height:10px;
  }
  .folder {
    display: none;
  }
  .navbar {
    font-size: 20px;
  }
  nav {
    display: none;
  }
  .mobile-nav {
    width: 85%;
    display: block;
    margin:0 auto;
    margin-top: 75px;
  }
  .mobile-nav ul {
    list-style-type: none;
    display: block;
    margin:0 auto;
  }
  .mobile-nav li {
    float: left;
    text-decoration: none;
    margin: 10px;
  }
  .mobile-nav a {
    color: #787878;
    text-decoration: none;
  }
  #underline {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 120px;
    border: 2px solid #ccc;
  }
  .fa-twitter {
    position:absolute;
    left:35%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:65%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin-square {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@media (min-width: 320px) and (max-width: 359px){
  #window {
    min-width: 250px;
  }
  #body {
    font-size: 15px;
  }
  #title {
    font-size: 9px;
    left: 17%;
  }
  .light{
      width:10px;
      height:10px;
  }
  .folder {
    display: none;
  }
  .navbar {
    font-size: 15px;
  }
  nav {
    display: none;
  }
  .mobile-nav {
    width: 97%;
    display: block;
    margin:0 auto;
    margin-top: 75px;
  }
  .mobile-nav ul {
    list-style-type: none;
    display: block;
    margin:0 auto;
  }
  .mobile-nav li {
    float: left;
    text-decoration: none;
    margin: 10px;
  }
  .mobile-nav a {
    color: #787878;
    text-decoration: none;
  }
  #underline {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 120px;
    border: 2px solid #ccc;
  }
  .fa-twitter {
    position:absolute;
    left:35%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-envelope {
    position:absolute;
    left:65%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .fa-linkedin-square {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
